.box {
  margin-top: 100px;
  margin-bottom: 50px;
  margin-left: 200px;
  margin-right: 200px;
  font-family: "Helvetica";
  font-size: 100px;
  color: #00BDDD;
}

body {
	margin-left: 30px;
	font-weight: 600;
}

.blue {
	color: #000DDD;
}
